.password {
    padding: 10px;
    margin:10px 0;
    border: 2px solid blue;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
    width:20%;
    font-family: monospace;
    font-size: large;
  }